@using WebTest.Models;
@model List<ChuDe>

<hr />
<h2 style="margin-left:2% ; font-weight: normal; color:black"></h2>

@{
    foreach (var item in Model)
    {
            <a id="btnChuDe" style="width:250px;font-size:11pt;color:aliceblue;text-decoration:none" href="@Url.Action("SachTheoChuDe",new { @MaChuDe = item.MaChuDe})" class="button button-submit">@item.TenChuDe</a>
        
    }
}
<br />
<a style="width:250px;font-size:11pt;background-color:yellow;text-decoration:none; margin-top:5px;" href="@Url.Action("DanhMucChuDe")" class="button button-submit">Chủ Đề Khác...</a>
<br/>
<div style="clear:both"></div>
@*<center>
    <a href="#" class="button">Chủ Đề Khác...</a>
</center>*@
@*<center>
        <a href="#" class="button">Công nghệ và đời sống</a>

        <a href="#" class="button">Xe Cộ</a>

        <a href="#" class="button">Khoa Học</a>

        <a href="#" class="button">Nhân văn</a>

        <a href="#" class="button">Hôn nhân và gia đình</a>
    </center>*@
