@using WebTest.Models;
@model List<NhaXuatBan>
<h1 id="titleNXB">Nhà Xuất Bản</h1>
<style>
    #titleNXB{
        padding: 15px 0 15px 15px;
        color:white;
        width:235px;
        background-color:darkorange;
    }
</style>
@foreach (var item in Model)
{
    <div class="itemNXB"><a href="@Url.Action("SachTheoNXB",new { @MaNXB = item.MaNXB})">@item.TenNXB</a></div>
}
<div class="itemNXB"><a href="@Url.Action("SachTheoNXB")"></a>Nhà Xuất Bản Khác...</div>
<style>
    #itemNXB{
        font-weight:normal;
    }
</style>  

  @*<div><a href="#">Ten NXB</a></div>
    <div><a href="#">Ten NXB</a></div>
    <div><a href="#">Khác...</a></div>*@


@*<p>What the hell is this? Get out of town, I didn't know you did anything creative. Ah, let me read some.</p>
    <span class="price">£49.99</span>
    <a href="#" class="button button-buy">Get it now</a>*@
