
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>WEB BÁN HÀNG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>src="style.css"</script>
    <script>src="main.js"</script>
    <!--width= device-width: thiết lập chiều rộng theo thiết bị/initial-scale=1: đặt mức thu/phóng ban đầu khi trình duyệt tải lần đầu tiên-->
    <link rel="stylesheet" type="text/css " href="~/Content/style.css">
    <!--MaxCDN-->
</head>
<body>
    <div id="menu-top" style="background: #141414;height: 40px;">
        <ul style="margin: 0px;padding: 0px;">
            <li style="list-style: none;float: left">
                <a href="#" title="Trang Chủ" class="active" style="text-decoration: none;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: #FFF;
                    border-right: 1px solid #cccccc;
                    padding: 0px 10px 0px 10px;background: #1949b5;">Trang Chủ</a>
            </li>
            <li style="list-style: none;float: left">
                <a href="#" title="Giới Thiệu" style="text-decoration: none;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: #FFF;
                    padding: 0px 10px 0px 10px">Giới Thiệu</a>
            </li>
            <li style="list-style: none;float: left">
                <a href="#mevabe" target="_blank" title="Tin Tức" style="text-decoration: none;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: #FFF;
                    padding: 0px 10px 0px 10px">Tin Tức</a>
            </li>
            <li style="list-style: none;float: left">
                <a href="#" title="Sản Phẩm" style="text-decoration: none;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: #FFF;
                    padding: 0px 10px 0px 10px">Sản Phẩm</a>
            </li>
            <li style="list-style: none;float: left">
                <a href="#" title="Khuyến Mãi" style="text-decoration: none;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: #FFF;
                    padding: 0px 10px 0px 10px">Khuyến Mãi</a>
            </li>
            <li style="list-style: none;float: left">
                <a href="#" title="Dịch Vụ" style="text-decoration: none;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: #FFF;
                    padding: 0px 10px 0px 10px">Dịch Vụ</a>
            </li>
            <li style="list-style: none;float: left">
                <a href="#" title="Liên Hệ" style="text-decoration: none;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: #FFF;
                    padding: 0px 10px 0px 10px">Liên Hệ</a>
            </li>
        </ul>
    </div>
    <div id="banner" style="height: auto;width: 1000px;">
        <img style="display: block; margin-left: auto;margin-right: auto;width: 1000px;height: 300px;"
             src="D:\DemoTS\picture\banner01.jpg">
    </div>
    <div id="main">
        <div id="left">
            <ul>
                <li style="list-style: none">
                    <h2 id="mevabe">Mẹ Và Bé</h2>
                    <img src="D:\DemoTS\picture\thời trang gia đình.jpg">
                    <h3>Thời trang gia đình cực chất</h3>
                    Ra mắt bộ thời trang gia đình cực chất, cực tốt, được nhập khẩu Made in China với giá sale
                    100K/quần, 200k/áo. Hàng trung quốc đây, mua <strong>10</strong> khuyến mãi <strong>1</strong> luôn mại dô mại dô.
                </li>
                <li style="list-style: none">
                    <h2>Công Nghệ</h2>
                    <img src="D:\DemoTS\picture\loabluetooth.png">
                    <h3>Mua sắm thiết bị điện tử cực chất</h3>
                    <p style="text-align: justify">
                        Chúng tôi mới nhập từ nước ngoài một thiết bị điện tử mới lạ đang có tầm ảnh hưởng rất lớn với nhân
                        loại đặc biệt là những thanh niên thích hút hàng đá. Loa bluetooth có khoảng 1000 lỗ li ti giúp thoát
                        âm rất tốt. Hàng trung quốc mới về đây, mua <strong>10</strong> khuyến mãi <strong>1</strong> luôn mại dô mại dô.
                    </p>
                </li>
                <li style="list-style: none">
                    <h2>Phụ kiện nam</h2>
                    <img src="D:\DemoTS\picture\hottrendgiay.jpg">
                    <h3>Giày nam cực chất</h3>
                    <p style="text-align: justify">
                        Ra mắt bộ giày da nam cực chất, cực tốt, được nhập khẩu Made in China với giá sale 500k/đôi. Được làm từ da cọp,
                        da beo, da bò và đặc biệt là da cá xấu. Với chất liệu tốt như vậy, chúng tôi bao đi mưa, đi nắng, cắng và xé.
                        Hàng trung quốc đây, mua <strong>10</strong> khuyến mãi <strong>1</strong> luôn mại dô mại dô.
                    </p>
                </li>
            </ul>
        </div>
        <div id="right">
            <div class="menu_right">
                <h3 style="text-align: center">Đăng Ký - Đăng Nhập</h3>
                <i><input id="tbInput" type="text" style="width:200px;height:15px;" placeholder="Nhập email hoặc số điện thoại"></i></br>
                <i><input id="tbPassword" type="password" style="width: 200px;height: 15px" placeholder="Nhập Password"></i>
                <div class="btn-group-vertical">
                    <button type="submit" class="btn btn-primary" id="btDangKy" onClick="btDangKy()">Đăng Ký</button>
                    <button type="submit" class="btn btn-primary" id="btDangNhap" onclick="btDangNhap()">Đăng Nhập</button>
                </div>
            </div>
        </div>

    </div>
    <div id="footer" style="background:black; width: auto; text-align: left; height: auto; color: white; clear: left; line-height: 20px;">
        <i>CopyRight 2018 Lương Minh Quân and Nguyễn Minh Tâm</i></br>
        <i>
            Địa chỉ giao dịch: Lô 10, Công viên phần mềm Quang Trung, Phường Tân Chánh Hiệp,
            Quận 12, Đông Bắc, Tân Hưng Thuận, Quận 12, Hồ Chí Minh
        </i></br>
        <i>Điện thoại: 028 3709 1991</i>
    </div>
</body>
</html>


