body{
    font-family: Tahoma;
    font-size: 13px;
    width: auto;
    margin: 0px auto;
}
#menu_top {
    background:black;
    height: 40px;
}
#banner {
    background: red;
    height: auto;
    width: 1000px;
}
#main #left {
    width: 750px;
    float: left;
    min-height: 400px;
}
#main #right {
    width: 250px;
    min-height: 400px;
    float: left;
    
}
#footer{
    background: #0000;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: white;
    clear: left;
    line-height: 60px;
}
#menu_top ul{
    margin: 0px;
    padding: 0px;
}
#menu_top ul li{
    list-style: none;
    float: left;
}
#menu_top ul li a{
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #cccccc;
}
#menu_top ul li a.active{
    background: #1949b5;

}
#main #left ul {
    margin: 0px;
    padding: 0px;
}
#main #left ul li{
    list-style: none;
    clear: left;
    border-bottom: 1px solid #cccccc;
    float: left;
    margin-bottom: 20px;
}
#main #left ul li img{
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
#main #left ul li h2{
    font-size: 16px;
    margin-top: 0px;
}
#main{
    margin-top: 5px;
}
#main #right input{
    margin-top: 5px;
    margin-left: 22px;
}
#main #right button{
    margin-top: 10px;
    margin-left: 22px;
    color: red;
    background: lightseagreen;
}
